[user]
	name = Matias Niemelä
	email = matias@yearofmoo.com
  # email = this is local to the machine
  # username = this is local to the machine
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[github]
	user = matsko
	token = token
[gitflow "prefix"]
	versiontag = v
[alias]
  l = log
  p = cherry-pick
  b = branch
  bb = checkout -b
  c = commit
  cv = commit
  s = status
  bd = branch -D
  co = checkout
  wip = commit -m "wip" --no-verify
  amend = commit --amend
  confs = config -l
  r = rebase
  rum = rebase upstream/main
  rom = rebase origin/main
  h = rebase -i HEAD~20
  f = fetch --all
  st = stash
  stf = stash push -m "stashing single file" 
  w = instaweb
  compare = cherry -v
  cc = clean -f -x --exclude="!.env"

# machine-specific
[include]
  path = ~/.dotfiles/.gitconfig.local

[web]
	browser = git-chrome
